# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ==========================
# Django / Project
# ==========================
*.sqlite3
db.sqlite3
.env
.env.*
staticfiles/
media/

# ==========================
# Virtual Envs
# ==========================
venv/
.venv/
ENV/
env/

# ==========================
# IDE / OS
# ==========================
.DS_Store
.idea/
.vscode/
*.swp
